<h2>Mechanic: <%= @mechanic.name %></h2>
<h4>Years of Experience: <%= @mechanic.experience %> </h4>

<h4>Current rides they are working on:</h4>
<ul>
  <% @mechanic.park_rides.each do |ride| %>
    <li><%= ride.name %></li>
    <% end %>
</ul>

<%= form_tag "/mechanics/#{@mechanic.id}", method: :get do %>
  <%= label_tag :search, "Add a ride to workload: " %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Submit' %>
<% end %>
